.connection {
    padding: 5px 5px 5px 7px;
    height: 45px;
    /* border-bottom: solid 2px #7691f1; */
}

.connection__header {
    display: flex;
    justify-content: space-between;
}

.connection__body {
    display: flex;
    align-items: baseline;
    column-gap: 5px;
}

.connection__username {
    font-weight: bold;
    font-size: 16px;
}

/* .connection__message-sender {

} */

.connection__message {
    color: #4b4c4e;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.connection__message-time {
    color: #4b4c4e;
    font-size: 12px;
}