.connection {
    padding: 5px 5px 5px 7px;
    height: 45px;
}

.connection_active {
    background: #dbdde2;
    border-right: 2px solid #608dff;
}

.connection__header {
    display: flex;
    justify-content: space-between;
}

.connection__body {
    display: flex;
    align-items: baseline;
    column-gap: 5px;
}

.connection__username {
    font-weight: 600;
    font-size: 16px;
}

.connection__message-sender {
    font-weight: 400;
}

.connection__message {
    color: #4b4c4e;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.connection__message-time {
    color: #4b4c4e;
    font-size: 12px;
    font-weight: 300;
}