.message {
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 85%;
    min-width: 80px;
    padding: 5px 12px;
    background: #f6f9ff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    word-break: break-all;
}

.my-message {
    align-self: flex-end;
    border-bottom-left-radius: 7px;
}

.other-message {
    border-bottom-right-radius: 7px;
}

.message__time {
    align-self: flex-end;
    color: #949494;
    font-size: 12px;
}