.message-input {
    display: flex;
    justify-content: center;
    gap: 10px;
    max-height: 30%;
    padding: 10px 50px;
    border-top: solid 2px #0f0f121a;
}

.message-input__textarea {
    resize: none;
    width: 75%;
    max-height: 100px;
    min-height: 16px;
    background: #ebeef3;
    border: none;
    border-bottom: 2px solid #ebeef3;
    padding: 12px;
    overflow: hidden;
}

.message-input__textarea:focus {
    outline: none;
    border-bottom: 2px solid #608dff;
}

.message-input__button {
    border-radius: 7px;
}

@media all and (max-width: 700px) {
    .message-input {
        padding: 10px 0;
    }
}