.message-input {
    display: flex;
    justify-content: center;
    gap: 10px;
    max-height: 30%;
    padding: 10px 50px;
    margin: 0 15px;
    border-top: solid 2px #0f0f121a;
}

.message-input__textarea {
    resize: none;
    width: 75%;
    max-height: 100px;
    min-height: 16px;
    background: #ebeef3;
    border: none;
    border-radius: 7px;
    padding: 12px;
    overflow: hidden;
}

.message-input__textarea:focus {
    outline: none;
}

.message-input__button {
    border-radius: 7px;
    /* height: fit-content; */
    /* padding: 10px 30px; */
    /* align-self: flex-end; */
}

@media all and (max-width: 700px) {
    .message-input {
        padding: 10px 0;
    }
}