.left-window__search {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.left-window__search input {
    padding: 10px 15px;
    width: 100%;
    border-radius: 10px;
    box-shadow: inset 0 0 6px #0000001a;
}

.left-window__search input:focus {
    box-shadow: inset 0 0 6px #608dff;
}